<div id="room-container" class="ui piled blue segment">
  <%= link_to "Back", root_path, class: "ui right floated button" %>

  <h2 class="ui header">
    <i class="icon inverted circular blue comment"></i> <%= @room %>
  </h2>

  <div id="messages" class="ui comments">
    <% if false %>
      <%# serving as documentation %>
      <div class="comment">
        <strong class="author">xhh</strong>
        <span class="text">
          Hello there!
        </span>
      </div>
    <% end %>

    <form class="ui reply form">
      <div class="field">
        <input id="message" type="text" name="" value=""/>
      </div>
    </form>
  </div>
</div>
